mixin review(review)
    include replyForm
    div.comment
        div.comment-header
            div.comment-author=review.reviewer_name
            div.comment-time=review.reviewedAgo
        if review.is_deleted
            p [Deleted]
        else
            div.comment-body=review.body
            div rating:
                -for(let i = 0; i<review.rating; i++)
                    span &#X2b50
            if user && user.is('admin')
                a(href = `/review/${review.id}/delete`) Delete
        div
            h4.reply-header Replies (#{review.replies.length})
            div.reply-container
                +replyForm(review)
                if review.replies.length > 0
                    ul.reply-list
                        each reply in review.replies
                            li
                                div.comment
                                    div.comment-header
                                        div.comment-author=reply.reviewer_name
                                        div.comment-time=reply.friendlyReplyDate
                                    if reply.is_deleted
                                        p [deleted]
                                    else
                                        div.comment-body=reply.body
                                        if user && user.is('admin')
                                            a(href = `/review/${review.id}/reply/${reply.id}/delete`) Delete
                else
                    p.empty-list No Replies
