extends ../layout

block content
    include ../mixins/review
    div.container.blog
        div.content
            div.article-header-row
                h1.article-title=restaurant.name
                if user && restaurant.isOwnedBy(user)
                    a.button(href=`/restaurant/${restaurant.id}/edit`) Edit
                if user && user.is('admin')
                    a.button(href=`/restaurant/${restaurant.id}/delete`) Delete
            p.published-on Owned by
                strong.emphasize #{restaurant.owner.first_name}
            img.blog-image(src=restaurant.image)
            p.article-body=restaurant.description

            div.comment-section
                h3.comment-section-title Reviews (#{restaurant.reviews.length})
                div.comment-form
                    form(action= `/restaurant/${restaurant.id}/review/create` method = 'post')
                        div.input-container.wide
                            label(for='reviewer_name').form-label Your name
                            input(type = 'text' id = 'reviewer_name', name= 'reviewer_name' required =true)
                        div.input-container.wide
                            textarea(placeholder = 'This restaurant was...' required=true name='body' id='id' cols = 80 rows = 10)
                        div.input-container.wide
                            label(for = 'rating') Rating
                            select(id = 'rating' name = 'rating')
                                each rating in [1,2,3,4,5]
                                    option(value = rating selected= (rating===restaurant.rating)) #{rating}
                        div
                            button.button.primary(type = 'submit') Review

                ul.comment-list
                    each review in restaurant.reviews
                        li
                            +review(review)